
/* Palette colori WEB */
:root {
    --primary-color: #000000;
    --body-bgcolor: #FFFFFF;
    --active-page-color: #F5BD00;
    --not-active-page-color: #999999;
    --load-btn-bgcolor: #F9F9F9;
    --remove-btn-bgcolor: #F14B60;
    --remove-btn-color: #FFFFFF;
    --addtofav-btn-bgcolor: #F5BD00;
    --addtofav-btn-color: #FFFFFF;
    --content-single-movie-color: #646464;
    --info-single-movie-color: #B2B2B2;
    --icons-single-movie-color: #F6C725; 
}

/* Font Size WEB */
:root {
    /* Font-weights */
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
    /* Navbar */
    --navbar-links-xxl-fs: 24px;
    --navbar-links-pref-fs: 0.7rem + 0.9vw;
    --navbar-links-md-fs: 18px;
    --navbar-links-lh: 28px;
    /* logo */
    --heading-logo-xxl-fs: 34px;
    --heading-logo-pref-fs: 0.5rem + 1.8vw;
    --heading-logo-md-fs: 22px;
    --heading-logo-lh: 40px;
    /* single-movie */
    --heading-single-movie-xxl-fs: 36px; 
    --heading-single-movie-pref-fs: 0.65rem + 1.8vw;
    --heading-single-movie-md-fs: 24px; 
    --heading-single-movie-lh: 42px;
    --content-single-movie-xxl-fs: 18px;
    --content-single-movie-pref-fs: 0.5rem + 0.5vw;
    --content-single-movie-md-fs: 14px;
    --content-single-movie-lh: 26px;
    --btn-cta-single-movie-fs: 20px;
    --info-single-movie-lh: 19px;
    --info-single-movie-fs: 16px;
    /* Cards-movie */
    --cards-heading-home-fs: 16px;
    --cards-heading-home-lh: 19px;
    --cards-movie-img : 400px;
    /* Load More Button */
    --load-btn-home-fs: 16px;
    --load-btn-home-lh: 19px;
}

/*  MOBILE Props */
:root {
    /* Cards Heading */
    --cards-heading-mob-fs : 21px;
    --cards-heading-mob-lh : 22px;
    --cards-heading-mob-color : #222222;
    /* Cards Rating and data */
    --cards-info-mob-color: #919191;
    --cards-info-mob-fs : 14px;
    /* Film Details */
    --single-movie-trama-fs : 20px;
    --single-movie-trama-lh : 28px;
    --single-movie-trama-color : #333333;
    --single-movie-title-fs: 28px;
    --single-movie-title-lh: 32px;
    --single-movie-title-color: #FFFFFF;
}

/* Mixins */

/** textProps Mixin 
* $min => Valore minimo che verrà assegnato al breakpoint (768px)
* $pref => Valore intermedio e fluido
* $max => Valore minimo che verrà assegnato al breakpoint (1440px)
* $fw => Font Weight
* $line-h => Line height
* $color => Colore del testo
*/
@mixin textProps($min, $pref, $max, $fw, $color, $line-h ) {
    font-size: clamp($min, $pref, $max);
    font-weight: $fw;
    line-height: $line-h;
    color: $color;
    width: fit-content;
    margin-bottom: 0;
    padding: 0;
};

/** genericTextProps Mixin 
* $fs => Font Size
* $fw => Font Weight
* $line-h => Line height
* $color => Colore del testo
*/
@mixin genericTextProps($fs, $line-h, $fw, $color) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $line-h;
    color: $color;
}


/** Mixin per le proprietà di Flex
* $flex => Display Flex
* $justify => Justify dei contenuti
* $align => Allineamento dei contenuti
* $dir => Direction 
*/
@mixin flexProps($flex, $justify, $align, $dir) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $dir;
}

/** Mixin per le proprietà dei Button
* $bg-color => Background del button
* $color => Colore del testo
* $fs => Dimensione del testo
* $fw => Spessore del testo 
*/
@mixin buttonProps($bg-color, $color, $fs, $fw, $br) {
    background-color: $bg-color;
    color: $color;
    font-size: $fs;
    font-weight: $fw;
    border-radius: $br;
    outline: none;
    
}

/** Mixin per alcune proprietà generiche di altezza e larghezza (es cards)
* $width => Larghezza del contenuto
* $height => Altezza del contenuto
*/
@mixin genericDimensionProps($width, $height) {
    width: $width;
    height: $height;
}

/** Mixin per i position Absolute
* $pos => Position Absolute
* $top => Top
* $left => Left
* $bottom => Bottom
* $right => Right
* $firstVal => Primo valore transform
* $secondVal => Secondo valore transform
*/

@mixin positionAbsoluteProps($pos, $top, $left, $bottom, $right, $firstVal, $secondVal) {
    position: $pos;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;   
    transform: translate($firstVal, $secondVal);
}