@import '../../styles/utils.scss';

/* Padding Generale */
.container-details,
.row-details,
.details-picture-col,
.details-content-col {
    padding: 0;
}

/* container-details per versione Web */
.container-details {
    display: block;
    @include flexProps(flex, center, center, row);
}

/* row-details per versione Web */
.row-details {
    display: block;
    @include flexProps(flex, space-between, flex-start, row);
    @include genericDimensionProps(100%, fit-content);
}

/* Altezza condivisa */
.details-picture-col,
.details-content-col {
    height: fit-content;
}

/* Immagine del film */
.details-picture-col img {
    max-width: 100%;
    min-height: 400px;
    object-fit: contain;
    aspect-ratio: 3/2;
}

.details-content-col {
    /* Heading (Ha già le sue classi ma aggiunto un margin sopra/sotto) */
    h2 {
        margin: 10px 0 20px 0;
    }
    /* Info */
    .details-content_info {
        @include flexProps(flex, flex-start, center, row);
        @include genericDimensionProps(fit-content, fit-content);
        column-gap: 15px;
        margin-bottom: 20px;
        /* Icona */
        span > svg {
            color: var(--icons-single-movie-color);
            margin-right: 5px;
        }
        /* Testo */
        span {
            @include genericTextProps(
                var(--info-single-movie-fs), 
                var(--info-single-movie-lh), 
                var(--font-weight-700), 
                var(--info-single-movie-color)
            );
        }
    }
    /* Trama */
    p.details-content_trama {
        @include textProps(
            var(--content-single-movie-md-fs), 
            var(--content-single-movie-pref-fs), 
            var(--content-single-movie-xxl-fs), 
            var(--font-weight-400), 
            var(--content-single-movie-color), 
            var(--content-single-movie-lh)
        );
        margin-bottom: 30px;
    }
}

.details-picture-col,
.details-content-col,
.details-content_trama {
    display: block;
}

/* Rimozione dei container in Media Query */
.details-picture-col-resp,
.details-content_trama-resp {
    display: none;
}

/* @media (max-width: 991.98px */
@media only screen and (max-width: 991.98px) {
    
    .details-content-col {
        position: relative;
    }

    .details-content-col button {
        @include positionAbsoluteProps(absolute, 0, 0, _, _, 100%, 400%);
    }
}


/* @media (max-width: 767.98px) */
@media only screen and (max-width: 767.98px) {
    
    /* Disabilito le colonne */
    .details-picture-col,
    .details-content-col,
    .details-content_trama {
        display: none;
    }

    /* Container Responsive */
    .container-details-resp {
        display: block;
        width: 100vw;
        @include flexProps(flex, center, center, row);
    }

    /* Row Responsive */
    .row-details-resp {
        display: block;
        width: 100%;
        @include flexProps(flex, center, flex-start, column);
    }

    .details-picture-col-resp,
    .details-content_trama-resp {
        display: block;
    }

    /* Col per l'immagine */
    .details-picture-col-resp {
        padding: 0%;
        height: fit-content;
        position: relative;
    }

    /* Immagine */
    .details-picture-col-resp img {
        width: 100%;
        min-height: 280px;
        object-fit: cover;
    }

    /* Col per la trama + testo */
    .details-content_trama-resp {
        margin-top: 30px;
        width: 100%;
        padding: 0.5rem;
        & p {
            @include genericTextProps(
                var(--single-movie-trama-fs), 
                var(--single-movie-trama-lh), 
                var(--font-weight-400), 
                var(--single-movie-trama-color)
        );
        }
    }

    /* Testo della trama */
    .details-content-col-resp {
        @include positionAbsoluteProps(absolute, 0, 0, _, _, _, _);
        @include genericDimensionProps(100%, 100%);
        @include flexProps(flex, space-between, flex-end, row);
        background-color: rgba(0,0,0,0.4);
        padding: 1rem;
        color: white;
        /* Heading Props */
        h2 {
            width: 50%;
            @include genericTextProps(
                var(--single-movie-title-fs), 
                var(--single-movie-title-lh), 
                var(--font-weight-400), 
                var(--single-movie-title-color)
            );
        }
    }

    /* Hearts Icon */
    .details-content-col-resp .like-btn-resp,
    .details-content-col-resp .like-btn-resp-fill {
        background: none;
        border: none;
        scale: 1.5;
        color: var(--single-movie-title-color);
    }

    /* Hearts Fill Icon */
    .details-content-col-resp .like-btn-resp-fill {
        color: var(--remove-btn-bgcolor);
    }

}