@import '../../styles/utils.scss';

.home-container,
.home-row,
.card-col {
    padding: 0;
}

.home-container {
    @include flexProps(flex, center, center, column);
}

.home-row {
    @include flexProps(flex, space-between, flex-start, row);
    @include genericDimensionProps(100%, fit-content);
    column-gap: 35px;
    row-gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.card-col {
    @include flexProps(flex, center, center, column);
    @include genericDimensionProps(calc(25% - 35px), 430px);
    text-decoration: none;
}

.card-img {
    min-width: 100%;
    min-height: calc(100% - 50px);
    border-radius: 10px;
    aspect-ratio: 16 / 9;
}

.card-title {
    margin-top: 10px;
    @include genericDimensionProps(100%, calc(100% - 400px));    
    @include genericTextProps(
        var(--cards-heading-home-fs), 
        var(--cards-heading-home-lh), 
        var(--font-weight-400), 
        var(--primary-color)
    );
    text-align: center;
}
