@import '../../styles/utils.scss';

.movie_list-container,
.movie_list-row {
    padding: 0;
}

.movie_list-container {
    @include flexProps(flex, center, center, column);
    margin-bottom: 50px;
}

.movie_list-row {
    row-gap: 20px;
    width: 100%;
}

.movie_list-col {
    height: 450px;
}

.card-link-wrapper {
    @include flexProps(flex, center, center, column);
    @include genericDimensionProps(_, 100%);
    text-decoration: none;
    position: relative;
}

.card-img {
    min-width: 100%;
    min-height: var(--cards-movie-img);
    border-radius: 10px;
    aspect-ratio: 16 / 9;
}

.card-title {
    margin-top: 10px;
    @include genericDimensionProps(100%, 50px);    
    @include genericTextProps(
        var(--cards-heading-home-fs), 
        var(--cards-heading-home-lh), 
        var(--font-weight-400), 
        var(--primary-color)
    );
    text-align: center;
}

/*#region Info */

.card-item_info {
    display: none;
}

.card-link-wrapper:hover .card-item_info {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    @include genericDimensionProps(100%, var(--cards-movie-img));
    @include flexProps(flex, space-between, flex-end, _); 
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px;
    
}

.card-item_info-vote {
    @include genericTextProps(
        var(--cards-heading-home-fs), 
        var(--cards-heading-home-lh), 
        var(--font-weight-700), 
        var(--body-bgcolor)
    );
}

.card-item_info-vote > svg {
    color: var(--addtofav-btn-bgcolor);
    margin-right: 8px;
    scale: 1.25;
}

/*#endregion  */

@media only screen and (max-width: 767.98px) {
    .movie_list-row {
        @include flexProps(flex, center, center, _);
    }
}